<h1>Services</h1>
<ul>
  <% @services.each do |service| %>
    <h2><%= service.name %></h2>
    <h3>$<%= service.price %></h3>
    <p><%= service.body %></p>

    <%= link_to 'Book Appointment', new_service_appointment_path(service) %>

  <% end %>
</ul>
