<% @appointments.each do |appointment| %>
  <p><%= appointment.start_time %></p>
  <p><%= appointment.end_time %></p>
<% end %>


<!-- maybe you can use either this or the index since they show the same thing -->
